In [1]:
import numpy as np 
import pandas as pd 
from pandas_datareader import data as web
from datetime import date

In [2]:
data_atual = date.today()
ano5 = f'{data_atual.year-5}-{data_atual.month}-{data_atual.day}'
ano10 = f'{data_atual.year-10}-{data_atual.month}-{data_atual.day}'

In [3]:
#Coloque as as ações que deseja fazer analise
stocks = ['ITSA4.SA', 'BBAS3.SA', 'BBSE3.SA', 'FLRY3.SA', 'ENBR3.SA', 'ELET3.SA','XPLG11.SA', 'XPIN11.SA']
#Precisaremos criar um DataFrame para armazenar os dados das ações
prices = pd.DataFrame()
#Vamos utilizar a função get_data_yahoo para pegar o preço de fechamento ajustado de cada ação
for s in stocks:
    prices[s] = web.get_data_yahoo(s, ano5)['Adj Close']

In [4]:
risk_returns = np.log(prices / prices.shift(1))
risk_returns

,ITSA4.SA,BBAS3.SA,BBSE3.SA,FLRY3.SA,ENBR3.SA,ELET3.SA,XPLG11.SA,XPIN11.SA
Date,,,,,,,,
2016-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-18,-0.017831,-0.037366,-0.031112,0.001323,-0.002407,-0.008230,NaN,NaN
2016-02-19,0.001817,0.010819,0.006631,0.008561,-0.012935,-0.003311,NaN,NaN
2016-02-22,0.033286,0.045086,0.042061,0.009138,0.012935,0.048553,NaN,NaN
2016-02-23,-0.001489,-0.006635,-0.008751,0.004538,-0.008065,-0.051875,NaN,NaN
...,...,...,...,...,...,...,...,...
2021-02-08,-0.014982,-0.002654,-0.015192,-0.007128,-0.008172,-0.003698,-0.002841,-0.004791
2021-02-09,0.008455,0.012032,0.017294,-0.008982,-0.007205,0.004704,0.002355,-0.000175
2021-02-10,-0.006570,-0.013805,0.004887,-0.007607,-0.018244,-0.018951,-0.001624,0.005748
2021-02-11,0.001882,0.003838,-0.002789,0.021228,0.000526,0.013910,-0.002359,-0.007496
2021-02-12,-0.003766,-0.005614,-0.005489,0.007801,-0.005272,0.012056,-0.004898,0.006106

In [5]:
#Vamos utilizar o retorno logaritmo para calcular o retorno diário de cada ação
risk_returns.mean()

ITSA4.SA     0.000766
BBAS3.SA     0.000925
BBSE3.SA     0.000437
FLRY3.SA     0.001228
ENBR3.SA     0.000564
ELET3.SA     0.001432
XPLG11.SA    0.000324
XPIN11.SA   -0.000011
dtype: float64

In [6]:
#Agora vamos multiplicar por 250 para calcular o retorno anual de cada ação
risk_returns.mean() * 250

ITSA4.SA     0.191622
BBAS3.SA     0.231293
BBSE3.SA     0.109231
FLRY3.SA     0.306952
ENBR3.SA     0.141034
ELET3.SA     0.357948
XPLG11.SA    0.081048
XPIN11.SA   -0.002794
dtype: float64

In [7]:
#Agora vamos utilizar o desvio padrão para calcular o risco diário de cada ação
risk_returns.std()

ITSA4.SA     0.020459
BBAS3.SA     0.029659
BBSE3.SA     0.019471
FLRY3.SA     0.021588
ENBR3.SA     0.018916
ELET3.SA     0.039263
XPLG11.SA    0.010686
XPIN11.SA    0.006183
dtype: float64

In [8]:
#Agora o risco anual de cada uma
risk_returns.std() * 250 ** 0.5

ITSA4.SA     0.323488
BBAS3.SA     0.468944
BBSE3.SA     0.307862
FLRY3.SA     0.341330
ENBR3.SA     0.299080
ELET3.SA     0.620804
XPLG11.SA    0.168956
XPIN11.SA    0.097768
dtype: float64